<footer class="bg-gray-900 text-white py-10">
    <div class="container mx-auto px-4 lg:px-0">
        <div class="flex flex-wrap justify-between">
            <!-- Contact Information -->
            <div class="w-full lg:w-1/3 mb-6 lg:mb-0">
                <h3 class="text-2xl font-bold mb-4">Contactez-nous</h3>
                <p class="mb-2">
                    <svg class="w-6 h-6 inline-block mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.003 5.884l7.516-2.879 7.516 2.879A2 2 0 0118 7.733v7.592a2 2 0 01-1.281 1.872l-7.516 2.879-7.516-2.879A2 2 0 012 15.325V7.733a2 2 0 01.003-.85z" />
                    </svg>
                    <a href="mailto:contact@eventbenin.com">contact@eventbenin.com</a>
                </p>
                <p class="mb-2">
                    <svg class="w-6 h-6 inline-block mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 3a1 1 0 100 2h8a1 1 0 100-2H6zM3 6a1 1 0 011-1h12a1 1 0 011 1v7a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm5 3a1 1 0 000 2h4a1 1 0 000-2H8z" clip-rule="evenodd" />
                    </svg>
                    <a href="tel:+22912345678">+229 12 34 56 78</a>
                </p>
                <p>
                    <svg class="w-6 h-6 inline-block mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v14a1 1 0 002 0V3a1 1 0 00-1-1zM14 2a1 1 0 00-1 1v14a1 1 0 002 0V3a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                    Rue de l'Événement, Cotonou, Bénin
                </p>
            </div>
            
            <!-- Social Media Links -->
            <div class="w-full lg:w-1/3 mb-6 lg:mb-0">
                <h3 class="text-2xl font-bold mb-4">Suivez-nous</h3>
                <div class="flex space-x-4">
                    <a href="#" class="text-gray-400 hover:text-white">
                        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.896 0H5.104C2.285 0 0 2.285 0 5.104v13.792C0 21.715 2.285 24 5.104 24h13.792C21.715 24 24 21.715 24 18.896V5.104C24 2.285 21.715 0 18.896 0zm-9.193 18.627H6.631V9.227h3.072v9.4zM8.667 7.834a1.768 1.768 0 11.002-3.536 1.768 1.768 0 01-.002 3.536zM19.005 18.627h-3.072v-4.96c0-1.183-.023-2.703-1.647-2.703-1.65 0-1.903 1.289-1.903 2.617v5.046h-3.072v-9.4h2.951v1.283h.043c.411-.777 1.417-1.599 2.919-1.599 3.12 0 3.695 2.054 3.695 4.723v5.993h-.002z" />
                        </svg>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-white">
                        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 4.557a9.93 9.93 0 01-2.828.775A4.94 4.94 0 0023.337 3a9.86 9.86 0 01-3.13 1.2A4.925 4.925 0 0016.616 2c-2.723 0-4.928 2.205-4.928 4.927 0 .386.044.762.128 1.124A13.978 13.978 0 011.67 3.149a4.928 4.928 0 001.523 6.574 4.908 4.908 0 01-2.232-.618v.063c0 2.282 1.623 4.183 3.774 4.616a4.95 4.95 0 01-2.224.085c.627 1.956 2.445 3.379 4.6 3.42a9.864 9.864 0 01-6.102 2.102c-.396 0-.786-.023-1.17-.068A13.92 13.92 0 007.548 21c9.056 0 14.004-7.5 14.004-14.004 0-.213-.005-.425-.014-.636A9.935 9.935 0 0024 4.557z" />
                        </svg>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-white">
                        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 4.25a9.72 9.72 0 01-2.828.775 4.929 4.929 0 002.165-2.717 9.83 9.83 0 01-3.127 1.195 4.916 4.916 0 00-8.384 4.482 13.934 13.934 0 01-10.112-5.136 4.904 4.904 0 001.522 6.565 4.872 4.872 0 01-2.23-.616v.062a4.91 4.91 0 003.946 4.804 4.903 4.903 0 01-2.224.085 4.924 4.924 0 004.599 3.42 9.873 9.873 0 01-6.104 2.104c-.397 0-.788-.024-1.172-.068a13.905 13.905 0 007.548 2.212c9.056 0 14.003-7.498 14.003-14.003 0-.212-.005-.423-.014-.633a9.932 9.932 0 002.456-2.535c-.858.381-1.783.64-2.752.756z" />
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Newsletter Signup -->
            <div class="w-full lg:w-1/3">
                <h3 class="text-2xl font-bold mb-4">Inscrivez-vous à notre newsletter</h3>
                <form action="#" method="POST">
                    <div class="flex flex-col sm:flex-row">
                        <input type="email" name="email" placeholder="Votre email" class="w-full p-2 rounded-l-md text-gray-900">
                        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-md mt-2 sm:mt-0 sm:ml-2">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center mt-8">
            <p class="text-gray-500">&copy; 2024 EventBénin. Tous droits réservés.</p>
        </div>
    </div>
</footer>